{% extends 'base.html' %}

{% block title %}
  {{ accredit.title }}
{% endblock %}


{% block content %}

  <h1>{{ accredit.title }}</h1>

{# таблица рефератов первого года аккредитации #}
  <table class="table table-sm table-hover table-bordered">
    <thead class="thead-indigo">
    <tr>
      <th></th>
      <th colspan="12">{{ accredit.first_year }}</th>
    </tr>
      <tr>
        <th>Сотрудник</th>
        <th>Январь</th>
        <th>Февраль</th>
        <th>Март</th>
        <th>Апрель</th>
        <th>Май</th>
        <th>Июнь</th>
        <th>Июль</th>
        <th>Август</th>
        <th>Сентябрь</th>
        <th>Октябрь</th>
        <th>Ноябрь</th>
        <th>Декабрь</th>
      </tr>
    </thead>
    <tbody>

      {% for row in first_year %}

        {{ row|safe }}

      {% endfor %}

    </tbody>
  </table>

{# таблица рефератов второго года аккредитации #}
  <table class="table table-sm table-hover">
    <thead class="thead-indigo">
    <tr>
      <th></th>
      <th colspan="12">{{ accredit.first_year|add:"1" }}</th>
    </tr>
      <tr>
        <th>Сотрудник</th>
        <th>Январь</th>
        <th>Февраль</th>
        <th>Март</th>
        <th>Апрель</th>
        <th>Май</th>
        <th>Июнь</th>
        <th>Июль</th>
        <th>Август</th>
        <th>Сентябрь</th>
        <th>Октябрь</th>
        <th>Ноябрь</th>
        <th>Декабрь</th>
      </tr>
    </thead>
    <tbody>
      {% for row in second_year %}

        {{ row|safe }}

      {% endfor %}
    </tbody>
  </table>

{# таблица рефератов третьего года аккредитации #}
  <table class="table table-sm table-hover">
    <thead class="thead-indigo">
    <tr>
      <th></th>
      <th colspan="12">{{ accredit.first_year|add:"2" }}</th>
    </tr>
      <tr>
        <th>Сотрудник</th>
        <th>Январь</th>
        <th>Февраль</th>
        <th>Март</th>
        <th>Апрель</th>
        <th>Май</th>
        <th>Июнь</th>
        <th>Июль</th>
        <th>Август</th>
        <th>Сентябрь</th>
        <th>Октябрь</th>
        <th>Ноябрь</th>
        <th>Декабрь</th>
      </tr>
    </thead>
    <tbody>
      {% for row in third_year %}

        {{ row|safe }}

      {% endfor %}
    </tbody>
  </table>

{% endblock %}