{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}
  {{ block.super }} - Добавить задачу
{% endblock %}


{% block content %}

  <div class="container col-6">
    <h3>{{ title }}</h3>

    <form method="post" class="">
      {% csrf_token %}

      {{ form|crispy }}

      <div class="btn-group mt-1" role="group">
        <a href="{% url 'todo_list' %}" class="btn btn-info">
          <span class="icon icon-reply"></span> Назад к задачам</a>
        <button type="submit" class="btn btn-primary">
          <span class="icon icon-floppy"></span>
          Сохранить</button>
      </div>
    </form>
  </div>

{% endblock %}

{% block script %}
  {{ block.super }}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  <script>
    $( function() {
      $( "#datepicker" ).datepicker({
          firstDay: 1,
          changeYear: true,
          dateFormat: "yy-mm-dd",
          monthNames: [ "Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь" ],
          monthNamesShort: [ "Янв", "Фев", "Мар", "Апр", "Май", "Июн", "Июл", "Авг", "Сен", "Окт", "Ноя", "Дек" ],
          dayNamesMin: [ "Вс", "Пн", "Вт", "Ср", "Чт", "Пт", "Сб" ]
      });
    } );
  </script>

{% endblock %}
